<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.marakana.android.logservice"
  android:sharedUserId="android.uid.system">                                                <!-- <1> -->

  <permission android:name="com.marakana.android.logservice.FLUSH_LOG"
    android:protectionLevel="dangerous"
    android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
    android:label="@string/flush_log_permission_label"
    android:description="@string/flush_log_permission_description"/>                        <!-- <2> -->

  <uses-permission android:name="android.permission.READ_LOGS"/>                            <!-- <3> -->
  
  <application android:name=".LogServiceApp" android:persistent="true">                     <!-- <4> -->
    <uses-library android:name="com.marakana.android.service.log" android:required="true"/> <!-- <5> -->
    <uses-library android:name="com.marakana.android.lib.log" android:required="true"/>     <!-- <6> -->
  </application>

</manifest>
